body {
    font-family: sans-serif;
    margin: 0;
    background-color: #000033;
    color: #fff;
    text-align: center;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    padding: 2em;
}

h1 {
    font-size: 2.5em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.project-link img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5em;
}

.instruction-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

a {
    color: #fff;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}